.row
  .col-md-6
    = f.label :title
    = f.text_field :title, class: "form-control"
    = f.label :description
    = f.text_field :description, class: "form-control"
    = f.label :attachments
    %br

.row
  .col-md-10
    = jquery_fileupload("/rails4_jquery_upload", "attachments", "file", filetypes: "pdf png jpg",
        max_files: 5, max_file_size_mb: 5, preview_max_width: "100", preview_max_height: "100")

